body {
  overflow: hidden;
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.shade {
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font: normal;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font: normal;
}

div::after {
  display: flex;
  flex-direction: column;
}

Input {
  position: relative;
  /* background-color: #303132; */
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 1.2px;
  height: 20px;
  outline: none;
  border: none;
}

button {
  font-weight: bold;
  border: none;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  /* background-color: rgb(85, 85, 85); */
  filter: brightness(0.8);
}

.button img {
  width: 22px;
}

.line {
  min-width: 1px;
  height: 100vh;
  font-size: 0px;
  background-color: black;
}

.side_line {
  width: 100%;
  min-height: 1px;
  font-size: 0px;
  background-color: black;
}

.supershade {
  box-shadow: 0 16px 20px 0 rgb(0, 0, 0);
}

.greyText {
  color: #5a5a5a;
}

.hover:hover {
  background-color: rgba(184, 184, 184, 0.384);
  filter: brightness(0.9);
}